@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --blueColor: #00093C;
  --whiteColor: #FFFFFF;
  --backgroundColor: #f6f7f9;
}

a{
  text-decoration: none;
  color: unset;
}
li{
  list-style: none;
}

.layout {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f4f5
}

::-webkit-scrollbar {
  width: 0px;
}

.admin-login{
  background: #fff !important;
}
.admin-login .registration__form{
  margin-left: -230px;
  margin-top: 70px;
}